openapi: 3.2.0
info:
  title: Khoros Ai Health API
  version: '1.1'
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: lithium-care-bot-api-v3-openapi.json, lithium-health-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.app.lithium.com/bots/v3
security:
- {}
tags:
- name: Health
paths:
  /health/appId/{appId}:
    get:
      summary: Get bot health status by app ID
      description: Get the health status of a bot using the Automation Framework
      operationId: healthappidappid
      parameters:
      - name: appId
        in: path
        description: The bot identifier
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \n  \"data\":[  \n    {  \n      \"status\":\"DEGRADED\",\n      \"failureCount\":2,\n      \"successCount\":23\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: DEGRADED
                        failureCount:
                          type: integer
                          example: 2
                          default: 0
                        successCount:
                          type: integer
                          example: 23
                          default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: "curl GET \\\n  \"https://api.app.lithium.com/bots/v3/health/appId/mybot\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
        samples-languages:
        - curl
      tags:
      - Health
    servers:
    - url: https://api.app.lithium.com/bots/v3
x-refined-from:
- lithium-care-bot-api-v3-openapi.json
- lithium-health-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
