openapi: 3.2.0
info:
  title: Khoros Ai Data API
  version: '1.1'
  description: 'Operations tagged Data across 2 of this provider''s published API definitions: lithium-marketing-notification-service-openapi.json, lithium-data-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.spredfast.com/v2/events
security:
- sec0: []
tags:
- name: Data
paths:
  /data/{subscriptionId}:
    get:
      summary: Retrieve Subscription Events
      description: Poll for events under the specified subscription using Khoros Marketing Events API.
      operationId: retrieve-subscription-events
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription UUID
        schema:
          type: string
        required: true
      - name: offset
        in: query
        description: Offset into results, use to cursor through results. **Format:** int32
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum events to return. **Format:** int32
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: Coming Soon
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
      tags:
      - Data
    servers:
    - url: https://api.spredfast.com/v2/events
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes: {}
x-refined-from:
- lithium-marketing-notification-service-openapi.json
- lithium-data-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
