openapi: 3.2.0
info:
  title: Khoros Ai Note API
  version: '1.1'
  description: 'Operations tagged Note across 2 of this provider''s published API definitions: lithium-care-bot-api-v3-openapi.json, lithium-note-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.app.lithium.com/bots/v3
security:
- {}
tags:
- name: Note
paths:
  /note:
    put:
      summary: Add internal note to bot conversation
      description: Attach an internal note to the current bot conversation
      operationId: note-put
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  description: A `note` JSON payload. See payload details below.
                  format: json
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: HTTP/1.1 202 Accepted
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: "curl PUT \\\n  https://api.app.lithium.com/bots/v3/note \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
        samples-languages:
        - curl
      tags:
      - Note
    servers:
    - url: https://api.app.lithium.com/bots/v3
x-refined-from:
- lithium-care-bot-api-v3-openapi.json
- lithium-note-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
