openapi: 3.2.0
info:
  title: Khoros Ai Form API
  version: '1.1'
  description: 'Operations tagged Form across 2 of this provider''s published API definitions: lithium-care-bot-api-v3-openapi.json, lithium-form-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.app.lithium.com/bots/v3
security:
- {}
tags:
- name: Form
paths:
  /form:
    post:
      summary: Send a bot response with a secure form
      description: Send a secure form as a bot response.
      operationId: send-a-bot-response-with-a-secure-form
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: HTTP/1.1 202 Accepted
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl POST \\\n  https://api.app.lithium.com/bots/v3/form \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\""
        samples-languages:
        - curl
      tags:
      - Form
    servers:
    - url: https://api.app.lithium.com/bots/v3
x-refined-from:
- lithium-care-bot-api-v3-openapi.json
- lithium-form-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
